<!-- base tamplate -->
<%- include('header');-%>
       <div class="box" id="heading">
            <h1>
                <%=kindDay %>
            </h1>
        </div>
        <div class="container" id="work">
                    <h1>Make your list</h1>
                    <ul class="nobull">
                        <li>
                        <%addwork.forEach(function(item){%>
                        <form action="/delete" method="post">
                            <div class="item">
                            <table>
                                <tr>
                                <td><input type="checkbox" onclick="this.form.submit()" name="checkbox" value="<%= item._id%>"><%=item.name%></td>
                                </tr>
                            </table>
                            </div>
                            <input type="hidden" name="ListName" value="<%=kindDay%>">
                        </form>
                        </li>
                        <%});%>
                    </ul>
                    <form class="form" action="/" method="post">
                        <input type="text" class="writework" placeholder="Write your work....." name="addwork">
                        <button type="submit" class="submit" name="button" value="<%=kindDay%>">Add work</button>
                    </form>
        </div>
 <%- include('footer');-%>              